body {
  font: 20px Arial, sans-serif;
  color: green;
}

footer {
  background-color: black;
  color: blanchedalmond;
}

.navbar {
  background-color: green;
}

.quemsomos {
  background-color: burlywood;
}

.margin {
  padding-top: 10px;
  padding-bottom: 10px;
}

.parceiros {
  background-color: darkkhaki;
}
